img:hover{

  width:500px;
    height:600px;

    
   -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
      transform: scale(1.5); 
     display:block 

}
img {
width:200px;
    height:300px;
}